
@using MVC.Blog.DAL.Model
@model SiteHomeViewModel



@section slider{
    <div class="container">
        <div class="single-slider" id="owl-slider">
            @foreach (var item in Model.Gonderiler)
            {
                <div class="item">
                    <img class="img-responsive" src="@item.PostPic" alt="slide">
                    <div class="info-box">
                        @*<span>SLIDER AÇIKLAMASI</span>*@
                        <h2 class="title"><a href="/SinglePost/SinglePost/@item.Id">@item.Title</a></h2>
                        <p id="summary">@item.Summary</p>
                        <a href="/SinglePost/SinglePost/@item.Id" class="btn">OKU</a>
                    </div>
                </div>
            }
        </div>
    </div>
}


<div class="main-part">
    <div class="container">
        <div class="row">
            <!-- Main Content -->

            <div class="col-sm-9">
                <div class="main-content">

                    <div id="icerik">
                        @Html.Partial("_Icerik", Model)
                    </div>

                    @if (ViewBag.TotalPage >= Model.SayfaNo)
                    {
                        if (Model.SayfaNo == 1)
                        {
                            <div class="pagination">
                                <a class="btn olderpost" id="next">SONRAKİ SAYFA</a>
                            </div>
                        }
                        else
                        {
                            <div class="pagination">
                                <a href="/Home/Index/?Page=@Model.SayfaNo" class="btn newrpost" id="previous">ÖNCEKİ SAYFA</a>
                                <a href="/Home/Index/?Page=@Model.SayfaNo" class="btn olderpost" id="next">SONRAKİ SAYFA</a>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="pagination">
                            <a href="/Home/Index/?Page=@Model.SayfaNo" class="btn newrpost" id="previous">ÖNCEKİ SAYFA</a>
                        </div>
                    }
                </div>
            </div>

            <!-- /. End Main Content -->
            <!-- Sidebar -->
            <div class="col-sm-3">
                <aside class="sidebar">
                    @Html.Partial("_Hakkimda", Model)
                    @Html.Partial("_Kategoriler", Model)
                    @Html.Partial("_SonGonderiler", Model)

                    @if (Model.LogUser == "")
                    {
                        <span class="btn btn-default btn-block" id="">
                            <a href="/Admin/Account/Login">Giriş Yap</a>
                        </span>
                    }
                    else
                    {
                        <span class="btn btn-default btn-block" id="">
                            <a href="/Admin/Account/LogOut">Çıkış Yap</a>
                        </span>
                    }
                </aside>
            </div>
            <!-- /. End Sidebar -->
        </div>
    </div>
</div>

@section scripts{
    <script>


        $(document).ready(function () {
            $("#logButton").click(function () {
                var user = $("#username").val();
                var pass = $("#password").val();

                $.ajax({
                    url: '/Home/Giris?UserName=' + user + '&Password=' + pass,
                    type: "GET",
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {

                    }

                })

            })
        });

        var currentPage = @Model.SayfaNo;
        $(document).ready(function () {
            $("#next").click(function () {
                currentPage++;
                $(this).attr("href", "/Home/Index?Page="+currentPage)
            });
            $("#previous").click(function () {
                currentPage--;
                $(this).attr("href", "/Home/Index?Page="+currentPage)
            });
        });

    </script>
}