
@using MVC.Blog.DAL.Data
@model About


<div class="kt-mainpanel">
    <div class="kt-pagetitle">
        <h5>Hakkında Sayfası Düzenle</h5>
    </div><!-- kt-pagetitle -->
    <div class="kt-pagebody">
        @if (TempData["Msg"] != null)
        {
            <span class="alert alert-success">@TempData["Msg"]</span>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card pd-20 pd-sm-40 mg-t-10">
                <h6>İçerik:<span class="tx-danger">*</span></h6>
                @Html.HiddenFor(x => x.Id)
                @Html.TextAreaFor(x => x.AboutContent, new { @class = "form-input", @id = "summernote" })
                <span class="text-danger">@Html.ValidationMessageFor(x => x.AboutContent)</span>
            </div>

            <div class="card pd-20 pd-sm-40 mg-t-10">
                <input type="submit" name="name" value="Kaydet" class="btn btn-default" />
            </div>
        }

    </div><!-- kt-pagebody -->
</div><!-- kt-mainpanel -->


@section scripts{
    <script>
        $(function () {
            'use strict';

            // Inline editor
            var editor = new MediumEditor('.editable');

            // Summernote editor
            $('#summernote').summernote({
                height: 150,
                tooltip: false
            })
        });
    </script>

}