@using MVC.Blog.DAL.Model
@model SiteHomeViewModel


<div class="main-part">
    <div class="container">
        <div class="row">
            <!-- Main Content -->
            <div class="col-sm-9">
                <div class="main-content singlepost">
                    <article>
                        <header>
                            <a href="#"><span class="tag">@Model.Gonderi.Tags</span></a>
                            <a href="#"><h2 class="title">@Model.Gonderi.Title</h2></a>
                        </header>
                        <div class="main-text">
                            <img class="img-responsive" src="@Model.Gonderi.PostPic" alt="posts">

                            @Html.Raw(Model.Gonderi.PostBody)

                        </div>
                        <footer>
                            <span class="date-author"><i>@Model.Gonderi.PostDate</i><a href="#">@Model.Gonderi.Kullanici.Role.RoleName</a></span>
                            <span class="socialicons-post">
                                <a href="#">
                                    <span class="icon-facebook"></span>
                                </a>
                            </span>
                        </footer>
                    </article>
                    <div class="comments">
                        <h2></h2>
                        @if (Model.Yorumlar != null)
                        {
                            foreach (var item in Model.Yorumlar)
                            {
                                <div class="comment" id="yorum">
                                    <div class="img">
                                        <img src="@item.Kullanici.ProfilPic" alt="post" class="img-responsive img-circle">
                                    </div>
                                    <div class="text">
                                        <span>admin</span><a href="#">replay</a><br>
                                        <i>@item.CommentDate</i>
                                        <p>@item.CommentBody</p>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                    <div class="leaveraplay">
                        <h5>YORUM YAZ</h5>
                        <textarea name="subject" id="commenText" value="Yorum yazınız..."></textarea>
                        <button onclick="SendComment()" id="">YORUMLA</button>
                    </div>
                </div>
            </div>
            <!-- /. End Main Content -->
            <!-- Sidebar -->
            <div class="col-sm-3">
                <aside class="sidebar">
                    <div class="widget aboutme">
                        <h3>HAKKIMDA</h3>
                        <div class="main-content">
                            <img class="img-circle img-responsive" src="@Model.Kullanici.ProfilPic" alt="about">
                            <span>@Model.Kullanici.Name</span>
                            <p>
                                @Model.Kullanici.Hakkimda
                                <a href="/Home/About/">daha fazla...</a>
                            </p>
                        </div>
                    </div>
                    <div class="widget categories">
                        <h3>KATEGORİLER</h3>
                        <div class="main-content">
                            @foreach (var item in Model.Kategoriler)
                            {
                                <ul>
                                    <li><a href="">@item.Name<span>(@item.PostCount)</span></a></li>
                                </ul>
                            }
                        </div>
                    </div>
                    <div class="widget recent-posts">
                        <h3>SON GÖNDERİLER</h3>
                        <div class="main-content">
                            <ul>
                                @foreach (var item in Model.Gonderiler)
                                {
                                    <li>
                                        <img src="@item.PostPic" alt="post-1">
                                        <a href="#"><h5 class="title">@item.Title</h5></a>
                                        <a href="#"><p>@item.PostDate</p></a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="widget tags">
                        <h3>ETİKETLER</h3>
                        <div class="main-content">
                            <a href="#">audio</a>
                            <a href="#">fashion</a>
                            <a href="#">moments</a>
                            <a href="#">travel</a>
                            <a href="#">life</a>
                            <a href="#">gallery</a>
                        </div>
                    </div>
                </aside>
            </div>
            <!-- /. End Sidebar -->
        </div>
    </div>
</div>

@section scripts{
    <script>

        var postId = @Model.Gonderi.Id;


        function SendComment() {
            var value = $("#commentText").val();
            var obj = new Object();
            obj.CommentBody = value;
            obj.CommentDate = new Date();
            obj.Post = new Object();
            obj.Post.Id= postId;

            $.ajax({
                url: "/SinglePost/PostComment",
                type: "post",
                data: obj,
                success: function (response) {
                    $("#yorum").prepend(
                        "<div>" +
                            "<p>" + response.CommentBody + "</p>"
                        + "</div>"
                        )
                }
            })

        }
    </script>
}