@using MVC.Blog.DAL.Model
@model SiteHomeViewModel


<div class="main-part">
    <div class="container">
        <div class="row">
            <!-- Main Content -->
            <div class="col-sm-9">
                <div class="main-content singlepost">
                    <article>
                        <header>
                            @*<a href="#"><span class="tag">@Model.Gonderi.Tags</span></a>*@
                            <a href="#"><h2 class="title">@Model.Gonderi.Title</h2></a>
                        </header>
                        <div class="main-text">
                            <img class="img-responsive" src="@Model.Gonderi.PostPic" alt="posts">

                            @Html.Raw(Model.Gonderi.PostBody)

                        </div>
                        <footer>
                            <span class="date-author"><i>@Model.Gonderi.PostDate</i></span>
                            <span class="socialicons-post" id="like">
                                    <span>@Model.Gonderi.LikeCount</span>&nbsp;&nbsp;<button id="likeButton" class="btn btn-default">Beğen</button>
                            </span>
                        </footer>
                    </article>
                    <div class="comments" id="yorum">
                        @if (Model.Yorumlar != null)
                        {
                            foreach (var item in Model.Yorumlar)
                            {
                                <div class="comment">
                                    <div class="img">
                                        <img src="@item.Kullanici.ProfilPic" alt="post" class="img-responsive img-circle">
                                    </div>
                                    <div class="text">
                                        <span>@item.Kullanici.Name @item.Kullanici.LastName</span><br>
                                        <i>@item.CommentDate</i>
                                        <p>@item.CommentBody</p>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                    @if (Model.LogUser!="")
                    {
                    <div class="leaveraplay">
                        <h5>YORUM YAZ</h5>
                        <textarea name="subject" id="commentText" value="Yorum yazınız..."></textarea>
                        <button id="sendComment">YORUMLA</button>
                    </div>
                    }
                    else
                    {
                        <div class="leaveraplay">
                            <span>Yorum yapabilmek için <a href="/Admin/Account/Login">Giriş</a> yapınız...</span>
                        </div>
                    }

                </div>
            </div>
            <!-- /. End Main Content -->
            <!-- Sidebar -->
            <div class="col-sm-3">
                <aside class="sidebar">
                    <div class="widget aboutme">
                        <h3>HAKKIMDA</h3>
                        <div class="main-content">
                            <img class="img-circle img-responsive" src="@Model.Kullanici.ProfilPic" alt="about">
                            <span>@Model.Kullanici.Name </span>
                            <p>
                                @Model.Kullanici.Hakkimda
                                <a href="/About/About/">daha fazla...</a>
                            </p>
                        </div>
                    </div>
                    <div class="widget categories">
                        <h3>KATEGORİLER</h3>
                        <div class="main-content">
                            @foreach (var item in Model.Kategoriler)
                            {
                                <ul>
                                    <li><a href="">@item.Name<span>(@item.PostCount)</span></a></li>
                                </ul>
                            }
                        </div>
                    </div>
                    <div class="widget recent-posts">
                        <h3>SON GÖNDERİLER</h3>
                        <div class="main-content">
                            <ul>
                                @foreach (var item in Model.Gonderiler)
                                {
                                    <li>
                                        <img src="@item.PostPic" alt="post-1">
                                        <a href="#"><h5 class="title">@item.Title</h5></a>
                                        <a href="#"><p>@item.PostDate</p></a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
            <!-- /. End Sidebar -->
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var postId = @Model.Gonderi.Id;

        $(document).ready(function(){
            $("#sendComment").click(function(){
                var value= $("#commentText").val();

                $.ajax({
                    url: '/SinglePost/PostComment?Yorum='+value+'&GonderiId='+postId,
                    //url:"/SinglePost/PostComment",
                    type: "GET",
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    //data: (Yorum=value,PostId=postId),
                    success: function (response) {
                        console.log(response)
                        $("#yorum").prepend(
                        "<div class='comment'>"
                        +"<div class='img'>"
                        +"<img src="+response.ProfilPic +" alt='post' class='img-responsive img-circle'></div>"
                        +"<div class='text'>"
                        +"<span>"+response.Name+" "+response.LastName+"</span><br>"
                        +"<i>"+response.CommentDate+"</i>"
                        +"<p>"+response.CommentBody+"</p>"
                        +"</div>"
                        +"</div>"
                        );
                        $("#commentText").val("");
                    }
                })
            })

            var likeCount = @Model.Gonderi.LikeCount;
            $("#likeButton").click(function(){

                $.ajax({
                    url:"/SinglePost/Like?likeCount="+likeCount,
                    type:"POST",
                    dataType:"json",
                    success:function(response){
                        console.log(response);
                        $("#like").html(
                                            "<span>"+response+"</span>&nbsp;&nbsp;<button id='unlikeButton' class='btn btn-primary'>Beğen</button>"
                                            );
                    }
                });
            });
       });

    </script>
}