@using MVC.Blog.DAL.Model
@model ContactViewModel

<div class="main-part">
    <div class="contact">
        <div class="container">
            <div class="row">
                <h1 class="title">İLETİŞİM</h1>


                <p>@Html.Raw(Model.İletisim.ContactContent)</p>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <label for="family">Konu:<span class="tx-danger">*</span></label>
                    @Html.TextBoxFor(x => x.Mesaj.Title, new { @type = "text", @name = "famiy" })
                    <span class="text-danger">@Html.ValidationMessageFor(x => x.Mesaj.Title)</span>
                        <label for="email">E-postanız:<span class="tx-danger">*</span></label>
                        @Html.TextBoxFor(x => x.Mesaj.Email, new { @type = "text", @name = "email" })
                        <span class="text-danger">@Html.ValidationMessageFor(x => x.Mesaj.Email)</span>
                        <label for="message">Mesaj:<span class="tx-danger">*</span></label>
                        @Html.TextAreaFor(x => x.Mesaj.MessageBody, new { @type = "text", @name = "message" })
                        <span class="text-danger">@Html.ValidationMessageFor(x => x.Mesaj.MessageBody)</span>

                        <input type="submit" value="Gönder" class="btn btn-default"/>
                    if (ViewBag.Msg != null)
                    {
                        <span class="alert alert-success">@ViewBag.Msg</span>
                    }
                }
            </div>
        </div>
    </div>
</div>
