@model MVC.Blog.DAL.Data.Kullanici

<div class="kt-mainpanel">
    <div class="kt-pagetitle">
        <h5>Profil Düzenle</h5>
    </div><!-- kt-pagetitle -->

    @using (Html.BeginForm("Listele","User",FormMethod.Post,new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="kt-pagebody">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <label class="content-left-label">Profil Fotoğrafı</label>
                    <figure class="edit-profile-photo">
                        <img src="/Media/Images/img11.jpg" class="img-fluid" alt="">
                        <figcaption>
                            <input type="file" name="ProfilePic" />
                        </figcaption>
                    </figure>

                </div><!-- col-3 -->
                <div class="col-md-8">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            <label class="control-label col-md-2">Ad:</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Soyad:</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">E-posta:</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Şifre:</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Şifreyi Doğrula:</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Onaylandı mı?</label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsAccepted)
                                    @Html.ValidationMessageFor(model => model.IsAccepted, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Kod:</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Kod, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Kod, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Rol:</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(x => x.RoleId, new SelectList(ViewBag.Roller2,"Value","Text"), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Kaydet" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>