@using System.Web.Optimization
@using MVC.Blog.DAL.Data
@{
    Layout = null;
}
@model Kullanici
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Parola Sıfırlama Sayfası</title>
    @Styles.Render("~/bundlesLoginv2/styles")
</head>
<body>
    @if (ViewBag.IsSuccess != null)
    {
        if (ViewBag.IsSuccess)
        {
            <span class="alert alert-success">@ViewBag.Msg</span>
        }
        else
        {
            <span class="alert alert-danger">@ViewBag.Msg</span>
        }
    }
    <div class="signpanel-wrapper">
        <div class="signbox">
            <div class="signbox-header">
                <h4>Şifremi Unuttum</h4>
                <p class="mg-b-0">E-postanıza gönderilen onay linkini tıklayarak yeni şifre oluşturabilirsiniz.</p>
            </div><!-- signbox-header -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="signbox-body">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @type = "email", @placeholder = "E-posta adresinizi giriniz" })
                        <span class="text-danger">@Html.ValidationMessageFor(x => x.Email)</span>
                    </div><!-- form-group -->

                    <input type="submit" class="btn btn-dark btn-block" value="Onaylayın" />
                </div><!-- signbox-body -->
            }
        </div><!-- signbox -->
    </div><!-- signpanel-wrapper -->
    @Scripts.Render("~/bundlesLoginv2/scripts")
</body>
</html>


