@using System.Web.Optimization
@using MVC.Blog.DAL.Data
@{
    Layout = null;
}
@model Kullanici
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Yeni Şifre</title>
    @Styles.Render("~/bundlesLoginv2/styles")
</head>
<body>
    <div class="signpanel-wrapper">
        <div class="signbox">
            <div class="signbox-header">
                <h4>Yeni Şifre Oluştur</h4>
            </div><!-- signbox-header -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="signbox-body">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Email,Model.Email,new { @class = "form-control", @type = "email"})
                        <span class="text-danger">@Html.ValidationMessageFor(x => x.Email)</span>
                    </div><!-- form-group -->
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password", @placeholder = "Yeni şifrenizi girin" })
                        <span class="text-danger">@Html.ValidationMessageFor(x => x.Password)</span>
                    </div><!-- form-group -->
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.PasswordConfirm, new { @class = "form-control", @type = "password", @placeholder = "Yeni şifrenizi onaylayın" })
                        <span class="text-danger">@Html.ValidationMessageFor(x => x.PasswordConfirm)</span>
                    </div><!-- form-group -->
                    <input type="submit" class="btn btn-dark btn-block" value="Sıfırla" />
                </div><!-- signbox-body -->
            }
        </div><!-- signbox -->
    </div><!-- signpanel-wrapper -->
    @Scripts.Render("~/bundlesLoginv2/scripts")
</body>
</html>


