@using MVC.Blog.DAL.Data
@model IEnumerable<Message>

<div class="kt-mainpanel">
    <div class="kt-pagetitle">
        <h5>Gelen Kutusu</h5>
    </div><!-- kt-pagetitle -->
    <div class="kt-pagebody">
        <div class="content-wrapper">
            <div class="content-body">
                <div class="content-body-header">
                    <div class="d-flex">
                        <div class="btn-group mg-b-0 mg-r-10 hidden-lg-up">
                            <button id="btnContentLeft" class="btn btn-secondary"><i class="icon ion-navicon-round tx-20"></i></button>
                        </div><!-- btn-group -->
                        <div class="content-checkall">
                            <label class="ckbox mg-b-0">
                                <input type="checkbox" id="checkAll"><span></span>
                            </label>
                        </div>
                        <div class="btn-group mg-b-0 hidden-xs-down">
                            <button id="trash" class="btn btn-secondary disabled" data-toggle="tooltip" data-placement="top" title="Silmek için tıklayın"><i class="icon ion-ios-trash-outline tx-20"></i></button>
                            <button id="read" class="btn btn-default btn-block" data-toggle="tooltip" data-placement="top" title="Okundu olarak işaretle">Oku</button>
                        </div><!-- btn-group -->
                    </div>
                    <div class="mg-l-auto">
                        <span class="mg-r-5 hidden-xs-down"></span>
                        <div class="btn-group mg-b-0">
                            <button class="btn btn-secondary disabled"><i class="icon ion-ios-arrow-back tx-20"></i></button>
                            <button class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Sonraki"><i class="icon ion-ios-arrow-forward tx-20"></i></button>
                        </div><!-- btn-group -->

                    </div>
                </div><!-- mailbox-header -->
                <div class="list-group mailbox-list-group">
                    <!-- loop starts here -->
                    @foreach (var item in Model)
                    {
                        <span id="deleted_@item.Id">
                            <div class="list-group-item media align-items-center unread" id="message">
                                <label class="ckbox mg-b-0">
                                    <input type="checkbox" value="@item.Id" name="message"><span></span>
                                </label>
                                <div class="media-body mg-l-20">
                                    <div class="media-body-head">
                                        <div class="d-flex" id="inbox">
                                            <div>
                                                <img src="@item.Kullanici.ProfilPic" class="wd-35 rounded-circle" alt="">
                                            </div>

                                            <div class="mg-l-10">
                                                <h6 class="tx-inverse tx-13 mg-b-2"><b>Kimden :</b>@item.MessageFrom</h6>
                                                <span class="d-block tx-12"><b>Tarih :</b>@item.MessageDate.ToShortDateString()</span>
                                            </div>

                                        </div>
                                    </div>

                                    @if (!item.IsRead)
                                    {
                                        <h6 class="tx-inverse tx-14 mg-b-0"><b>@item.Title</b></h6>
                                        <p class="mg-b-0 tx-13"><b>@item.MessageBody</b></p>
                                    }
                                    else
                                    {
                                        <h6 class="tx-inverse tx-14 mg-b-0" id="messageTitle_@item.Id">@item.Title</h6>
                                        <p class="mg-b-0 tx-13" id="messageBody_@item.Id">@item.MessageBody</p>
                                    }
                                </div>
                            </div><!-- list-group-item -->
                        </span>
                    }
                    <!-- loop ends here -->

                </div><!-- list-group -->
            </div><!-- content-body -->
        </div><!-- content-wrapper -->
    </div><!-- kt-pagebody -->
</div><!-- kt-mainpanel -->

@section scripts{

    <script>

        $(document).ready(function () {
            $("#trash").click(function () {
                var Secilenler = "";
                $('#message :checked').each(function (index, item) {
                    //Secilenler.push($(this).val());
                    Secilenler += $(item).val() + " ";
                });

                $.ajax({
                    url: "/Message/DeleteInbox/?Secilenler=" + Secilenler,
                    type: "get",
                    datatype: "json",
                    success: function (response) {
                        console.log(response);
                        $.each(response, function (index, value) {
                            $("span").remove("#deleted_" + value);
                        });
                    },
                    error: function (xhr) {
                        alert('İşlem başarısız!');
                    }

                });
            });

            $("#read").click(function () {
                var Secilenler = "";
                $('#message :checked').each(function (index, item) {
                    //Secilenler.push($(this).val());
                    Secilenler += $(item).val() + " ";
                });

                $.ajax({
                    url: "/Message/Inbox/?Secilenler=" + Secilenler,
                    type: "POST",
                    datatype: "json",
                    success: function (response) {
                        console.log(response);
                        $.each(response, function (index, value) {
                            $("#messageTitle_" + value).css('font-style', 'italic');
                        });
                    },
                    error: function (xhr) {
                        alert('İşlem başarısız!');
                    }

                });
            });

        });

        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });

    </script>


}