
@model IEnumerable<MVC.Blog.DAL.Data.Post>

<div class="kt-mainpanel">
    <div class="kt-pagetitle">
        <h5>Tüm Yazılar</h5>
    </div><!-- kt-pagetitle -->
    <div class="kt-pagebody">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">BAŞLIK</th>
                    <th scope="col">YAYINLANMA TARİHİ</th>
                    <th scope="col">KATEGORİ</th>
                    <th scope="col">BEĞENİ SAYISI</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Title</td>
                        <td>@item.PostDate</td>
                        <td>@item.Category.Name</td>
                        <td>@item.LikeCount</td>
                        <td><a href="/Admin/Post/Guncelle/@item.Id" class="btn btn-primary btn-block">Güncelle</a></td>
                        <td><a href="/Admin/Post/Sil/@item.Id" class="btn btn-primary btn-block">Sil</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>